<app-print-shoppinglist
  title="Urgent List"
  [dateOfShopping]="formatDate()"
  [items]="items"
  (doClickInParent)="doClick($event)"
></app-print-shoppinglist>
<div *ngIf="el_clicked > -1">
  <app-edit-item
    [el2edit]="items[el_clicked]"
    (doEditInParent)="finishEdit($event)"
  ></app-edit-item>
</div>

<app-add-item (addItemInParent)="add($event)"></app-add-item>

<p>{{ calculateValue() | currency: 'PLN':'zł' }}</p>
<p id="eu">
  In euro: {{ calculateValue() / 4.26 | currency: 'EUR':'symbol':'':'en' }} or
  {{ calculateValue() / 4.26 | currency: 'EUR' }}
</p>

<p class="test">{{ calculateValue() | testExtCurrency: ',':'zł' }}</p>
<p id="eu2">In euro: {{ calculateValue() / 4.26 | testExtCurrency: '.':'euro' }}</p>


<p id="date">{{ dateOfShopping | plDate }}</p>
